* {
    box-sizing: border-box;
    font-size: 50px;
    color: #2C2C54;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: azure;
}

.calculator {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #F5D6BA;
    max-width: 800px;
}

.calculator .calculator-row {
    flex: 1;
    display: flex;
    gap: 10px;
}

.calculator button,
.calculator .display {
    flex: 1;
}

button,
.calculator,
.display {
    border-radius: 5px;
}

.display {
    font-family: "Seven Segment", sans-serif;
    font-size: 150%;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    background-color: #ACC3A6;
    padding: 10px 50px;
    max-width: 100%;
    overflow-wrap: anywhere;
}

button {
    background-color: #F49D6E;
    border: none;
}

button.operation-button,
button.equal-button {
    background-color: #A40E4C;
}